.app-nav, .app-nav-logo {
    justify-content: center;
}

.login {
    width: 400px;
    height: 370px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.login-form, .login-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 400px;
    height: 250px;
    box-shadow: 0 6px 15px 0 rgba(0, 34, 77, .2);
}

.login-footer {
    width: 400px;
    height: 120px;
    background-color: #0f88eb;
    cursor: pointer;
    box-shadow: 0 6px 15px 0 rgba(0, 34, 77, .5);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.login-footer:hover {
    background-color: #0d79d1;
}

.login-text {
    margin: 0;
    color: #ffffff;
    font-weight: normal;
}

.login-input {
    width: auto;
    height: 45px;
    border-bottom: 1px solid #e7eaf1;
    margin-top: 12px;
}

#login-input-password {
    /*margin-bottom: 50px;*/
}

.login-input-textbox {
    width: 350px;
    border: 0 none;
    outline: none;
    background: transparent;
    height: 48px;
    font-size: 14px;
    font-family: inherit;
    font-weight: inherit;
}

.login-options {
    width: 350px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.login-options a {
    margin-top: 16px;
    font-size: 14px;
    font-family: inherit;
    font-weight: inherit;
    color: #8590a6;
}

.footer {
    width: 100%;
    height: 190px;
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-indicator {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 34, 77, .3);
    margin-bottom: -1000px;
}
